{% extends "analy/index.html" %}
{% load static %}
  {% block body %}
<br><br>
<h2><center><font color="blue"> Weather Analytics</center></h2></font>
<br>
<img src="{%static 'images/pyramid.png'%}">
<br><br>

<p><h4>                 <font color="green">The weather impacts everything – from underwriting property and insuring against rainfall, to forecasting crop yields and planning exercises for national security.
    Yet, attempts to mitigate the impact of weather across operations and assets are spotty and often incomplete.

Government agencies tasked with collecting and storing weather data for the public good offer no solution-ready answers for risk managers, claims adjusters, business analysts, and everyone in between.

Our foundation at Weather Analytics is reliable, rationalized, gap-free weather data. By leveraging the world’s best information, cleansed by a team of experienced meteorologists, we build rich, predictive insights based on the atmosphere’s best data collection.</p>
</h4></green>


{% endblock body %}
