{% extends "analy/index.html" %}
{% load static %}
  {% block body %}<center><br><br><br>


<div class="container">
 <font color="#ffffff"> <h2>Our partners</h2>
 <h3> <p>All weather data are collected from world  trused brands Web company's.</p></h3>

   <p>Click on the images to visit website</p></font>>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.yahoo.com/news/weather" target="_blank">
          <img src="{%static '/images/yah.jpg'%}" alt="Lights" style="width:100%">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="{%static '/images/sky.png'%}" alt="Nature" width="300" height="173">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="{%static '/images/bbc.png'%}" alt="Fjords" width="300" height="173">
          <div class="caption">
            <br>  <br>  <br>  <br>

          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="{%static '/images/wea.jpg'%}" alt="Lights" width="350" height="173">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="{%static '/images/bar.png'%}" alt="Nature" width="300" height="173">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://developer.accuweather.com/" target="_blank">
          <img src="{%static '/images/acc.jpg'%}" alt="Fjords" width="300" height="173">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
  </div>

</div>




{% endblock body %}
